<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("TimeSeriesQA Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
    #set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
    #set ($popup = "false")
#end

#set ( $base_uri = $content.getURI("/REST") )
#set ( $session_id = $!item.getStringProperty("incf:BIRNfMRIQAData/imageSession_ID") )
#set ( $assessment_id = $!item.getStringProperty("incf:BIRNfMRIQAData/ID") )
#set ( $resource_path = "$base_uri/experiments/$session_id/assessors/$assessment_id/out/files/HTML" )

<TABLE width="100%">
    <TR>
        <TD>
            <table width="100%">
                <TR>
                    <TD align="left" valign="middle">
                        <font face="$ui.sansSerifFonts" size="3"><b>TimeSeriesQA Details</b></font>
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD>
            <TABLE width="100%">
                <TR>
                    <TD valign="top">
                        <TABLE>
                            <TR><TD>imageSession_ID</TD><TD>$!item.getStringProperty("incf:BIRNfMRIQAData/imageSession_ID")</TD></TR>
                            <TR><TD>ID</TD><TD>$!item.getStringProperty("incf:BIRNfMRIQAData/ID")</TD></TR>
                            <TR><TD>project</TD><TD>$!item.getStringProperty("incf:BIRNfMRIQAData/project")</TD></TR>
                            <TR><TD>label</TD><TD>$!item.getStringProperty("incf:BIRNfMRIQAData/label")</TD></TR>
<!--                            <TR><TD>source_scan</TD><TD>$!item.getStringProperty("incf:BIRNfMRIQAData/source_scan")</TD></TR>-->
                        </TABLE>
                    </TD>
                    <TD valign="top" align="right">
                        #elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
                    </TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD>
<p>
This time-series quality assessment is the result of a <a href="https://www.nitrc.org/projects/bxh_xcede_tools">BXH/XCEDE Tools</a> analysis.  <code>dicom2bxh --xcede</code> is run on the DICOM data to create an XCEDE wrapper, after which <code>fmriqa_generate.pl</code> is run.
</p>
        </TD>
    </TR>
    <TR>
        <TD>
<!-- BEGIN incf:BIRNfMRIQAData -->
            <TABLE border="1">
                <TR>
                    <TD align="left" valign="top" rowspan="7">input</TD>
                    <TD align="left" valign="top"># potentially clipped voxels</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/Input/PotentiallyClippedVoxels")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top" rowspan="2"># vols with mean intensity abs. z-score > 3</TD>
                    <TD align="left" valign="top">individual</TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/Input/NVolsMeanIntensityAbsZ3/individual")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">rel. to grand mean</TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/Input/NVolsMeanIntensityAbsZ3/rel_grand_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top" rowspan="2"># vols with mean intensity abs. z-score > 4</TD>
                    <TD align="left" valign="top">individual</TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/Input/NVolsMeanIntensityAbsZ4/individual")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">rel. to grand mean</TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/Input/NVolsMeanIntensityAbsZ4/rel_grand_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top"># vols with mean volume difference &gt; 1%</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/Input/NVolsMeanVolDifference1")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top"># vols with mean volume difference &gt; 2%</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/Input/NVolsMeanVolDifference2")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top" rowspan="3">masked</TD>
                    <TD align="left" valign="top" rowspan="3">mean FWHM</TD>
                    <TD align="left" valign="top">X</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/MeanFWHM/x")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">Y</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/MeanFWHM/y")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">Z</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/MeanFWHM/z")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top" rowspan="7">masked, detrended</TD>
                    <TD align="left" valign="top"># vols with running difference &gt; 1%</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/MaskedDetrended/NVolsRunningDifference1")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top"># vols with running difference &gt; 2%</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/MaskedDetrended/NVolsRunningDifference2")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top"># vols with &gt; 1% outlier voxels</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/MaskedDetrended/NVols1OutlierVoxels")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top"># vols with &gt; 2% outlier voxels</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getIntegerProperty("incf:BIRNfMRIQAData/MaskedDetrended/NVols2OutlierVoxels")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">mean (ROI in middle slice)</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/MeanROIMiddleSlice")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">mean SNR (ROI in middle slice)</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/MeanSNRROIMiddleSlice")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">mean SFNR (ROI in middle slice)</TD>
                    <TD align="left" valign="top"></TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/MeanSFNRROIMiddleSlice")</TD>
                </TR>
            </TABLE>
        </TD>
    </TR>
    <TR>
        <TD>
			This plot shows SNR for this scan on a histogram of all BIRN functional QA SNRs in this archive.
            <br/>
			<IMG SRC="/plots/birn_fmri/snr/$!item.getStringProperty("incf:BIRNfMRIQAData/MaskedDetrended/MeanSNRROIMiddleSlice")" />
        </TD>
    </TR>
    <TR>
        <TD>
			This plot shows SFNR for this scan on a histogram of all BIRN functional QA SFNRs in this archive.
            <br/>
			<IMG SRC="/plots/birn_fmri/sfnr/$!item.getStringProperty("incf:BIRNfMRIQAData/MaskedDetrended/MeanSFNRROIMiddleSlice")" />
        </TD>
    </TR>
    <TR>
        <TD>
<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Volume means (input)</b></font>
<br/>
<br/>
This metric tracks the mean intensity of each volume (time point) in the data. Increases and decreases in overall brain activity will be reflected in this plot. RF spikes and other acquisition artifacts may be visible here (esp. if they affect an entire volume).
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Mean intensity per volume</b></font>
<br/>
            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/Means/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/Means/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_volmeans_allnorm.png" />
<IMG SRC="$resource_path/qa_volmeans_all.png" />
<IMG SRC="$resource_path/qa_volmeans_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Volume means (masked, detrended)</b></font>
<br/>
<br/>
This metric tracks the mean intensity of each volume (time point) in the data. Increases and decreases in overall brain activity will be reflected in this plot. RF spikes and other acquisition artifacts may be visible here (esp. if they affect an entire volume).  "Masked, detrended" means that this the volume means metric applied to masked and detrended data.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Mean intensity per volume</b></font>
<br/>
            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/Means/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/Means/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_maskedvolmeans_allnorm.png" />
<IMG SRC="$resource_path/qa_maskedvolmeans_all.png" />
<IMG SRC="$resource_path/qa_maskedvolmeans_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Means of mean volume difference</b></font>
<br/>
<br/>
For each volume vol and a mean volume meanvol, this metric tracks the mean intensity of (vol - meanvol). Slow drifts in the input data will be apparent in this plot.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Means of mean volume difference</b></font>
<br/>
            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/MeanMeanVolDiff/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/MeanMeanVolDiff/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_mdiffvolmeans_allnorm.png" />
<IMG SRC="$resource_path/qa_mdiffvolmeans_all.png" />
<IMG SRC="$resource_path/qa_mdiffvolmeans_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Running difference ("velocity") volume means (w/ mask,detrend):</b></font>
<br/>
<br/>
This metric tracks the change in the mean intensity of consecutive volumes by subtracting the mean intensity of each volume from the mean intensity of its subsequent volume.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Mean of running difference per volume (w/mask, detrended)</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/RunningDifferenceMeans/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/RunningDifferenceMeans/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_maskedtdiffvolmeans_allnorm.png" />
<IMG SRC="$resource_path/qa_maskedtdiffvolmeans_all.png" />
<IMG SRC="$resource_path/qa_maskedtdiffvolmeans_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Outlier voxel percentages (from AFNI's 3dToutcount) (masked, detrended)</b></font>
<br/>
<br/>
This metric is calculated by running the detrended data through the AFNI program 3dToutcount. This metric shows the percentage of "outlier" voxels in each volume. For a definition of "outlier", see the documentation for 3dToutcount on the AFNI web site, or run 3dToutcount without arguments.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Percent of outlier voxels</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/OutlierVoxelPcts/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/OutlierVoxelPcts/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_outliercount_all.png" />
<IMG SRC="$resource_path/qa_outliercount_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>FWHM in X dimension (from AFNI's 3dFWHMx) (masked)</b></font>
<br/>
<br/>
This metric shows the estimated FWHM for each volume in X, Y, or Z directions, used as a measure of the "smoothness" of the data.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Full-width half maximum in X dimension</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/FWHMX/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/FWHMX/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_FWHMx-X_all.png" />
<IMG SRC="$resource_path/qa_FWHMx-X_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>FWHM in Y dimension (from AFNI's 3dFWHMx) (masked)</b></font>
<br/>
<br/>
This metric shows the estimated FWHM for each volume in X, Y, or Z directions, used as a measure of the "smoothness" of the data.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Full-width half maximum in Y dimension</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/FWHMY/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/FWHMY/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_FWHMx-Y_all.png" />
<IMG SRC="$resource_path/qa_FWHMx-Y_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>FWHM in Z dimension (from AFNI's 3dFWHMx) (masked)</b></font>
<br/>
<br/>
This metric shows the estimated FWHM for each volume in X, Y, or Z directions, used as a measure of the "smoothness" of the data.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Full-width half maximum in Z dimension</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/FWHMZ/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Masked/FWHMZ/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_FWHMx-Z_all.png" />
<IMG SRC="$resource_path/qa_FWHMx-Z_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Center of mass (X) (input)</b></font>
<br/>
<br/>
This metric is calculated as a weighted average of voxel intensities, where each voxel is weighted by its coordinate index in the X, Y, or Z direction. Head motion in each of the three directions may be reflected as a change in this metric.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>
Center of Mass (X) by volume
</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/CenterOfMassX/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/CenterOfMassX/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_cmassx_allnorm.png" />
<IMG SRC="$resource_path/qa_cmassx_all.png" />
<IMG SRC="$resource_path/qa_cmassx_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Center of mass (X) (masked, detrended)</b></font>
<br/>
<br/>
Masked, detrended center of mass: this is the center of mass metric applied to masked and detrended data. Thus this metric will be insensitive to noise outside the mask.
<br/>
Center of mass: this metric is calculated as a weighted average of voxel intensities, where each voxel is weighted by its coordinate index in the X, Y, or Z direction. Head motion in each of the three directions may be reflected as a change in this metric.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>
Center of Mass (Y) by volume
</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/CenterOfMassX/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/CenterOfMassX/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_maskedcmassx_allnorm.png" />
<IMG SRC="$resource_path/qa_maskedcmassx_all.png" />
<IMG SRC="$resource_path/qa_maskedcmassx_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Center of mass (Y) (input)</b></font>
<br/>
<br/>
This metric is calculated as a weighted average of voxel intensities, where each voxel is weighted by its coordinate index in the X, Y, or Z direction. Head motion in each of the three directions may be reflected as a change in this metric.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Center of Mass (Y) by volume</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/CenterOfMassY/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/CenterOfMassY/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_cmassy_allnorm.png" />
<IMG SRC="$resource_path/qa_cmassy_all.png" />
<IMG SRC="$resource_path/qa_cmassy_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Center of mass (Y) (masked, detrended)</b></font>
<br/>
<br/>
Masked, detrended center of mass: this is the center of mass metric applied to masked and detrended data. Thus this metric will be insensitive to noise outside the mask.
<br/>
Center of mass: this metric is calculated as a weighted average of voxel intensities, where each voxel is weighted by its coordinate index in the X, Y, or Z direction. Head motion in each of the three directions may be reflected as a change in this metric.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Center of Mass (Y) by volume</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/CenterOfMassY/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/CenterOfMassY/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_maskedcmassy_allnorm.png" />
<IMG SRC="$resource_path/qa_maskedcmassy_all.png" />
<IMG SRC="$resource_path/qa_maskedcmassy_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Center of mass (Z) (input)</b></font>
<br/>
<br/>
This metric is calculated as a weighted average of voxel intensities, where each voxel is weighted by its coordinate index in the X, Y, or Z direction. Head motion in each of the three directions may be reflected as a change in this metric.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Center of Mass (Z) by volume</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/CenterOfMassZ/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/Input/CenterOfMassZ/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_cmassz_allnorm.png" />
<IMG SRC="$resource_path/qa_cmassz_all.png" />
<IMG SRC="$resource_path/qa_cmassz_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Center of mass (Z) (masked, detrended)</b></font>
<br/>
<br/>
Masked, detrended center of mass: this is the center of mass metric applied to masked and detrended data. Thus this metric will be insensitive to noise outside the mask.
<br/>
Center of mass: this metric is calculated as a weighted average of voxel intensities, where each voxel is weighted by its coordinate index in the X, Y, or Z direction. Head motion in each of the three directions may be reflected as a change in this metric.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Center of Mass (Z) by volume</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/CenterOfMassZ/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/CenterOfMassZ/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_maskedcmassz_allnorm.png" />
<IMG SRC="$resource_path/qa_maskedcmassz_all.png" />
<IMG SRC="$resource_path/qa_maskedcmassz_all_histo.png" />










<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Frequency spectrum (mean over mask) (masked, detrended)</b></font>
<br/>
<br/>
A frequency spectrum is calculated for each voxel in the mask and this plot shows the mean power for each frequency across all voxels.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Mean (over ROI) spectrum</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/FrequencySpectrumMeanOverMask/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/FrequencySpectrumMeanOverMask/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_spectrummean_all.png" />
<IMG SRC="$resource_path/qa_spectrummean_all_histo.png" />

<br/>
<font face="$ui.sansSerifFonts" size="2"><b>Frequency spectrum (max over mask) (masked, detrended)</b></font>
<br/>
<br/>
A frequency spectrum is calculated for each voxel in the mask and this plot shows the maximum power for each frequency across all voxels.
<br/>
<font face="$ui.sansSerifFonts" size="1"><b>Max (over ROI) spectrum</b></font>
<br/>

            <TABLE>
                <TR>
                    <TD align="left" valign="top">absolute</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/FrequencySpectrumMaxOverMask/absolute_mean")</TD>
                </TR>
                <TR>
                    <TD align="left" valign="top">relative</TD>
                    <TD align="left" valign="top">$!item.getDoubleProperty("incf:BIRNfMRIQAData/MaskedDetrended/FrequencySpectrumMaxOverMask/relative_mean")</TD>
                </TR>
            </TABLE>

<IMG SRC="$resource_path/qa_spectrummax_all.png" />
<IMG SRC="$resource_path/qa_spectrummax_all_histo.png" />

        </TD>
    </TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
